optados/*.x
optados/optados.*
optados/volume/
optados/src/build.f90
optados/mpi/
optados/mpi_debug/
optados/debug/
optados/devel_flag/
optados/multi_out/
optados/photon_sweep/
optados/original/
optados/photon_new/
