Al4.bands
Al4.log
Al4.ome_bin
Al4.ome_fmt
Al4_absorption.agr
Al4_absorption.dat
Al4_conductivity.agr
Al4_conductivity.dat
Al4.odo
Al4_epsilon.agr
Al4_epsilon.dat
Al4_loss_fn.agr
Al4_loss_fn.dat
Al4_reflection.agr
Al4_refractive_index.agr
Al4_refractive_index.dat
