Si2.bands
Si2.log
Si2.ome_bin
Si2.ome_fmt
Si2_absorption.agr
Si2_absorption.dat
Si2_conductivity.agr
Si2_conductivity.dat
Si2_epsilon.agr
Si2_epsilon.dat
Si2_loss_fn.agr
Si2_loss_fn.dat
Si2_reflection.agr
Si2_reflection.dat
Si2_refractive_index.agr
Si2_refractive_index.dat
